html, body {
    height: 100%;
    width: 99%;
    background: url(image/background.png);
    overflow: au0;
}

.row {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    display: flex;
}

.ide {
    height: 75%;
}

#description {
    font-size: 15px;
}

#editor {
    border: 2px solid #0d47a1;
}

#canvas {
    position: relative;
    width: 100%;
    height: auto;
    background: url(image/level1.png);
    background-size: contain;
    border-radius: 10px;
    border: 2px solid #0d47a1;
}