html, body {
    height: 100%;
    width: 99%;
}

.row {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    display: flex;
}

.ide {
    height: 75%;
}

#screen {
    position: relative;
    border: 2px solid black;
    width: 640px;
    height: 480px;
}